body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header { flex-shrink: 0; }

signin {
    display: flex;
    justify-content: center;
    height: 80vh;
}

#user-form {
    width: fit-content;
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    padding: 45px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 0px 4px #dad8da;
}

form legend, .form-container, label {  padding: 5px; }

legend {
    color: #56445D;
    font-size: 22px;
    font-weight: 700;
}

#user-form label { align-self: left; }

#user-form input {
    align-self: right;
    flex-grow: 1;
    padding: 10px;
    background-color: rgb(247, 247, 247);
    outline: none;
    border: none;
    border-bottom: 1.5px solid rgb(247, 247, 247);
    border-radius: 0.5rem;

    transition: border-bottom 0.7s;
}

#user-form input:hover, #user-form input:focus {
    border-bottom: 1.5px solid #56445D; 
}

.form-container:last-of-type {
    margin-top: 10px;
}

.form-container:last-of-type p {
    color: grey;
}

.form-container:last-of-type p, .form-container:last-of-type a {
    font-size: 12px;
    font-style: italic;
}

#user-form button {
    padding: 6px;
    width: 100%;
    text-decoration: none;
    letter-spacing: 0.25ch;
    border-radius: 0.25rem;

    display: block;
}

#user-form .enable {
    background-color: #8FBC94;
    color: white; 
    border: 2px solid #8FBC94;

    transition: background-color 1s;
}

#user-form .enable:hover {
    background-color: white;
    color: #8FBC94; 
}

#user-form .disable {
    background-color: gray;
    color: rgb(180, 180, 180);
}

.warning {
    color: red;
    font-size: 0.8rem;
    padding: 0px 5px;
}
